type: http
name: discord_default
log_level: info

# Discord Webhook URL
url: {{ crowdsec_discord_webhook }}

method: POST
headers:
  Content-Type: application/json

# 這裡定義傳送給 Discord 的內容
body:
  content: |
    :rotating_light: **CrowdSec Alert** :rotating_light:
    **IP**: {{.Alert.Source.IP}}
    **Reason**: {{.Alert.Scenario}}
    **Country**: {{.Alert.Source.Cn}}
    **Action**: {{.Alert.Remediation}}
