server {
    listen 80;
    listen [::]:80;
    server_name {{ domain }};

    # --- [最高優先級：Let's Encrypt ACME 驗證] ---
    location ^~ /.well-known/acme-challenge/ {
        root /var/www/certbot;
        default_type "text/plain";
        try_files $uri =404;
    }
}
